<h1>Mi Perfil</h1>

<br>
<p>{{userDTO}}</p>
<form action="/" method="GET">
    <button type="submit">Volver</button>
</form>

{{#if UserDTO}}
    <p>Nombre: {{UserDTO.first_name}} {{UserDTO.last_name}}</p>
    <p>Email: {{UserDTO.email}}</p>
    <p>Rol: {{UserDTO.role}}</p>
    <p>Id del Carrito: {{UserDTO.cart}}</p>
{{/if}}

<script src="js/main.js"></script>
